# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:** Casey Chu (caseychu@stanford.edu, but private post on Piazza preferred)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** We'll intersperse lecture with breaks to work on exercises.  These breaks are good chances to try out what you learn, and ask for help if you're stuck.  You aren't required to submit solutions to the exercises, and should focus on exercises you find most interesting if there are multiple options.

**Piazza:** [piazza.com/stanford/spring2019/cme193](http://piazza.com/stanford/spring2019/cme193). Post here if you have any questions related to the course.  I also encourage you to help answer questions on Piazza, as this is a great way to improve your Python skills as well.  If you have any questions that you would send via email, I would prefer you instead post them as a private post on Piazza.

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** Tuesdays 1:30-3:30 (Huang basement, either in the ICME lobby or directly outside).

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. NumPy basics
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be ok.

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [2]:
print("Hello, CME 193!")

Hello, CME 193!

In [3]:
import math
print(math.pi)

3.141592653589793

# Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [4]:
x = 1
print(x)

1

In [7]:
y = 'test'

In [8]:
print(y)

test

In [9]:
x = 1
x = "string"
print(x)

string

In [10]:
x = 1
print(type(x))

<class 'int'>

In [11]:
x = "string"
print(type(x))

<class 'str'>

In [12]:
x = 0.1
print(type(x))

<class 'float'>

Jupyter Notebook automatically prints the value of the last line in the cell:

In [13]:
x = 0.1
type(x)

float

In [14]:
x

0.1

# Basic Arithmetic

Operators for integers:
`+ - * / % **`

Operators for floats:
`+ - * / **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [18]:
2 ** 3

8

In [20]:
3 // 5  # integer division

0

In [24]:
not 5 == 9 and 10 > 4

True

In [26]:
3 < 0 < 8

False

# Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [27]:
str1 = "Hello, "
str2 = "World!"
str3 = str1 + str2
str3

'Hello, World!'

In [28]:
print(str3)

Hello, World!

Formatting using f-strings:

In [31]:
x = 23
y = 52
name = "Alice"

str1 = f"{name}'s numbers are {x} and {y}, and their sum is {x + y}"
str1

"Alice's numbers are 23 and 52, and their sum is 75"

Formatting using older methods (before Python 3.6), which you may encounter in others' code

In [32]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

a: string
b: 1.000000, hello, 5
c: 3.14

In [33]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

Jupyter Notebook has a feature that pulls up the documentation for methods by adding a question mark:

In [34]:
str1.replace?

In [35]:
str1.replace('l', 'p')

'Heppo, Worpd!'

# Control Flow

If statements:

In [41]:
x = 1
y = 2
z = 2
if x == y:
    print("Hello")
elif x == z:
    print("Goodbye")
elif x > 5:
    print("x is greater than 5")
else:
    print("???")

**For loops**

In [46]:
print("loop 1")
for i in range(5): # default - start at 0, increment by 1
    print(i)

print("\nloop 2")
for i in range(10, 0, -1): # inputs are start, stop, step
    print(i)

loop 1
0
1
2
3
4

loop 2
10
9
8
7
6
5
4
3
2
1

**while loops**

In [48]:
i = 1
while i < 100:
    print(i, i**2)
    i += i**2  # a += b is short for a = a + b

1 1
2 4
6 36
42 1764

**continue** - skip the rest of a loop

**break** - exit from the loop

In [49]:
for num in range(2, 10):
    if num % 2 == 0:
        continue # this jumps us back to the top
    print(f"Found {num}, an odd number")

Found 3, an odd number
Found 5, an odd number
Found 7, an odd number
Found 9, an odd number

In [53]:
n = 64
for x in range(2, n):
    if n % x == 0: # if n divisible by x
        print(f'{n} equals {x} * {n // x}')
        break

64 equals 2 * 32

**pass** does nothing

In [57]:
if True:
    pass
else:
    print('False!')

# Exceptions

In [58]:
100 / 0

ZeroDivisionError: division by zero

In [59]:
try:
    x = 100 / 0
except ValueError:
    print('We ran into a ValueError')
except ZeroDivisionError:
    print("We divided by zero")

We divided by zero

In [62]:
for i in range(100):
    try:
        x = 100 / i
        print(x)
    except ZeroDivisionError:
        pass

100.0
50.0
33.333333333333336
25.0
20.0
16.666666666666668
14.285714285714286
12.5
11.11111111111111
10.0
9.090909090909092
8.333333333333334
7.6923076923076925
7.142857142857143
6.666666666666667
6.25
5.882352941176471
5.555555555555555
5.2631578947368425
5.0
4.761904761904762
4.545454545454546
4.3478260869565215
4.166666666666667
4.0
3.8461538461538463
3.7037037037037037
3.5714285714285716
3.4482758620689653
3.3333333333333335
3.225806451612903
3.125
3.0303030303030303
2.9411764705882355
2.857142857142857
2.7777777777777777
2.7027027027027026
2.6315789473684212
2.5641025641025643
2.5
2.4390243902439024
2.380952380952381
2.3255813953488373
2.272727272727273
2.2222222222222223
2.1739130434782608
2.127659574468085
2.0833333333333335
2.0408163265306123
2.0
1.9607843137254901
1.9230769230769231
1.8867924528301887
1.8518518518518519
1.8181818181818181
1.7857142857142858
1.7543859649122806
1.7241379310344827
1.694915254237288
1.6666666666666667
1.639344262295082
1.6129032258064515
1.5873015873015872
1.5625
1.5384615384615385
1.5151515151515151
1.492537313432836
1.4705882352941178
1.4492753623188406
1.4285714285714286
1.408450704225352
1.3888888888888888
1.36986301369863
1.3513513513513513
1.3333333333333333
1.3157894736842106
1.2987012987012987
1.2820512820512822
1.2658227848101267
1.25
1.2345679012345678
1.2195121951219512
1.2048192771084338
1.1904761904761905
1.1764705882352942
1.1627906976744187
1.1494252873563218
1.1363636363636365
1.1235955056179776
1.1111111111111112
1.098901098901099
1.0869565217391304
1.075268817204301
1.0638297872340425
1.0526315789473684
1.0416666666666667
1.0309278350515463
1.0204081632653061
1.0101010101010102

# Functions

Functions are declared with the keyword `def`

In [64]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    print(base, height)
    return 0.5 * base * height

triangle_area(1, 2)
triangle_area(10, 20)

1 2
10 20

100.0

In [68]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

try:
    triangle_area(-1, 2)
except ValueError:
    print('Oops my base was negative')

Oops my base was negative

In [66]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x + 2

def twice(f, x):
    return f(f(x))

twice(f, 2) # + 4

6

In [67]:
def g(x):
    return 2 * x

twice(g, 5)

20

In [74]:
def n_apply(fn, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = fn(x)
    return x

n_apply(g, 1, 5) # 1 + 2*5

TypeError: g() missing 1 required positional argument: 'x'

In [71]:
def g(a, x, b=0):
    return a * x + b

In [72]:
g(2, 5, 1)

11

In [73]:
g(2, 5)

10

# Exercise 1

(10 minutes)

1. Output the string "Hello, World!" using Python
2. Import a Python Module
    * Try importing the `math` module and printing $\tan(1)$
3. Numeric variables
    * assign a variable $x$ to have value 1
    * increment $x$ (add 1 to $x$)
    * print the product of $x$ and 2
4. Print every integer between 1 and 100, except:
    * if it is a multiple of 3, print "Fizz"
    * if it is a multiple of 5, print "Buzz"
    * if it is a multiple of 3 and 5, print "FizzBuzz"
5. Print every power of 2 less than 10,000
6. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
9. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [75]:
print("Hello World")

Hello World

In [76]:
import math
math.tan(1)

1.5574077246549023

In [77]:
x = 1
x += 1
x * 2

4

In [78]:
for i in range(100):
    if i % 5 == 0 and i % 3 == 0:
        print("Fizzbuzz")
    elif i %5 == 0:
        print("Buzz")
    elif i %3 == 0:
        print("Buzz")
    else:
        print(i)

Fizzbuzz
1
2
Buzz
4
Buzz
Buzz
7
8
Buzz
Buzz
11
Buzz
13
14
Fizzbuzz
16
17
Buzz
19
Buzz
Buzz
22
23
Buzz
Buzz
26
Buzz
28
29
Fizzbuzz
31
32
Buzz
34
Buzz
Buzz
37
38
Buzz
Buzz
41
Buzz
43
44
Fizzbuzz
46
47
Buzz
49
Buzz
Buzz
52
53
Buzz
Buzz
56
Buzz
58
59
Fizzbuzz
61
62
Buzz
64
Buzz
Buzz
67
68
Buzz
Buzz
71
Buzz
73
74
Fizzbuzz
76
77
Buzz
79
Buzz
Buzz
82
83
Buzz
Buzz
86
Buzz
88
89
Fizzbuzz
91
92
Buzz
94
Buzz
Buzz
97
98
Buzz

In [79]:
n = 1
while n < 10000:
    print(n)
    n = 2 * n

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

In [80]:
def f(a, b):
    return a + 2 * b

In [83]:
a = 1
b = 1
n = 100
while a < n:
    print(a)
    a, b = b, a + b

1
1
2
3
5
8
13
21
34
55
89

# Lists

A list in Python is an ordered collection of objects

In [1]:
a = ['x', 1, 3.5]
print(a)

['x', 1, 3.5]

You can iterate over lists in a very natural way

In [3]:
lst = ["step1", "step2"]
for elt in lst:
    print(elt)

step1
step2

Python indexing starts at 0.

In [4]:
a.remove?

You can append to lists using `.append()`, and do other operations, such as `push()`, `pop()`, `insert()`, etc.

In [5]:
a = []
for i in range(10):
    a.append(i**2)

In [6]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
a[2]

4

In [21]:
a[]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
a

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ \sqrt{x} ~\mid~ 0 \le x \le 20, x\bmod 3 = 0\}$$

In [23]:
import math

In [26]:
S = [math.sqrt(x) for x in range(20)]
S

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674]

In [25]:
S = []
for x in range(20):
    if x % 3 == 0:
        S.append(math.sqrt(x))
print(S)

[0.0, 1.7320508075688772, 2.449489742783178, 3.0, 3.4641016151377544, 3.872983346207417, 4.242640687119285]

In [ ]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            S += [(i,j,k)]
S

In [27]:
# you aren't restricted to a single for loop
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

# Other Collections

We've seen the `list` class, which is ordered, indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered, indexed, and immutable
* `set` which is unordered, unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), which is unordered, indexed, and mutable, with no duplicate keys.

In [29]:
a_tuple = (1, 2, 4)
a_tuple

(1, 2, 4)

In [30]:
a_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [31]:
b_tuple = ('Bob', 90)

In [32]:
b_tuple

('Bob', 90)

In [33]:
b_tuple[1]

90

In [34]:
(1, 2, 3, 4, 6)

(1, 2, 3, 4, 6)

In [36]:
(6,)

(6,)

In [38]:
()

()

In [39]:
a_set = {5, 3, 2, 5}
a_set

{2, 3, 5}

In [41]:
if 13 in a_set:
    print('3 is in the set')

In [42]:
b_set = {3, 7, 9}

In [43]:
a_set | b_set

{2, 3, 5, 7, 9}

In [46]:
a_dict = {}
a_dict["key_1"] = 12
a_dict["key_2"] = [1, 2, 3]
a_dict[120] = 58
a_dict

{'key_1': 12, 'key_2': [1, 2, 3], 120: 58}

In [47]:
a_dict["key_2"]

[1, 2, 3]

In [48]:
a_dict = {'key_1': 12, 'key_2': [1, 2, 3], 120: 58}

In [49]:
a_dict

{'key_1': 12, 'key_2': [1, 2, 3], 120: 58}

In [51]:
for key in a_dict:
    print(key)
    print(a_dict[key])

key_1
12
key_2
[1, 2, 3]
120
58

In [55]:
a_dict[120]

58

In [53]:
for key, value in a_dict.items():
    print(key)
    print(value)

key_1
12
key_2
[1, 2, 3]
120
58

In [57]:
list(a_dict.items())

[('key_1', 12), ('key_2', [1, 2, 3]), (120, 58)]

In [54]:
for key, value in a_dict.items():
    if value == 58:
        print('found')
        break

found

In [63]:
x, y = 1, 2

In [64]:
x

1

In [65]:
y

2

In [66]:
x, y = y, x

In [67]:
x

2

In [68]:
y

1

In [69]:
x = None
try:
    x = do_something()
except:
    pass

In [71]:
x

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python 
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\bmod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

In [72]:
lst = ['a', 'b', 'c']

In [73]:
lst.insert(1, 'd')

In [74]:
lst

['a', 'd', 'b', 'c']

In [75]:
lst.remove('b')
lst

['a', 'd', 'c']

In [78]:
X = [i for i in range(100)]
X

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [79]:
S1 = [x for x in X if x % 5 == 2]
S1

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [80]:
S2 = [x for x in S1 if x % 2 == 0]
S2

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [81]:
[(x, y) for x in S1 for y in S2]

[(2, 2),
 (2, 12),
 (2, 22),
 (2, 32),
 (2, 42),
 (2, 52),
 (2, 62),
 (2, 72),
 (2, 82),
 (2, 92),
 (7, 2),
 (7, 12),
 (7, 22),
 (7, 32),
 (7, 42),
 (7, 52),
 (7, 62),
 (7, 72),
 (7, 82),
 (7, 92),
 (12, 2),
 (12, 12),
 (12, 22),
 (12, 32),
 (12, 42),
 (12, 52),
 (12, 62),
 (12, 72),
 (12, 82),
 (12, 92),
 (17, 2),
 (17, 12),
 (17, 22),
 (17, 32),
 (17, 42),
 (17, 52),
 (17, 62),
 (17, 72),
 (17, 82),
 (17, 92),
 (22, 2),
 (22, 12),
 (22, 22),
 (22, 32),
 (22, 42),
 (22, 52),
 (22, 62),
 (22, 72),
 (22, 82),
 (22, 92),
 (27, 2),
 (27, 12),
 (27, 22),
 (27, 32),
 (27, 42),
 (27, 52),
 (27, 62),
 (27, 72),
 (27, 82),
 (27, 92),
 (32, 2),
 (32, 12),
 (32, 22),
 (32, 32),
 (32, 42),
 (32, 52),
 (32, 62),
 (32, 72),
 (32, 82),
 (32, 92),
 (37, 2),
 (37, 12),
 (37, 22),
 (37, 32),
 (37, 42),
 (37, 52),
 (37, 62),
 (37, 72),
 (37, 82),
 (37, 92),
 (42, 2),
 (42, 12),
 (42, 22),
 (42, 32),
 (42, 42),
 (42, 52),
 (42, 62),
 (42, 72),
 (42, 82),
 (42, 92),
 (47, 2),
 (47, 12),
 (47, 22),
 (47, 32),
 (47, 42),
 (47, 52),
 (47, 62),
 (47, 72),
 (47, 82),
 (47, 92),
 (52, 2),
 (52, 12),
 (52, 22),
 (52, 32),
 (52, 42),
 (52, 52),
 (52, 62),
 (52, 72),
 (52, 82),
 (52, 92),
 (57, 2),
 (57, 12),
 (57, 22),
 (57, 32),
 (57, 42),
 (57, 52),
 (57, 62),
 (57, 72),
 (57, 82),
 (57, 92),
 (62, 2),
 (62, 12),
 (62, 22),
 (62, 32),
 (62, 42),
 (62, 52),
 (62, 62),
 (62, 72),
 (62, 82),
 (62, 92),
 (67, 2),
 (67, 12),
 (67, 22),
 (67, 32),
 (67, 42),
 (67, 52),
 (67, 62),
 (67, 72),
 (67, 82),
 (67, 92),
 (72, 2),
 (72, 12),
 (72, 22),
 (72, 32),
 (72, 42),
 (72, 52),
 (72, 62),
 (72, 72),
 (72, 82),
 (72, 92),
 (77, 2),
 (77, 12),
 (77, 22),
 (77, 32),
 (77, 42),
 (77, 52),
 (77, 62),
 (77, 72),
 (77, 82),
 (77, 92),
 (82, 2),
 (82, 12),
 (82, 22),
 (82, 32),
 (82, 42),
 (82, 52),
 (82, 62),
 (82, 72),
 (82, 82),
 (82, 92),
 (87, 2),
 (87, 12),
 (87, 22),
 (87, 32),
 (87, 42),
 (87, 52),
 (87, 62),
 (87, 72),
 (87, 82),
 (87, 92),
 (92, 2),
 (92, 12),
 (92, 22),
 (92, 32),
 (92, 42),
 (92, 52),
 (92, 62),
 (92, 72),
 (92, 82),
 (92, 92),
 (97, 2),
 (97, 12),
 (97, 22),
 (97, 32),
 (97, 42),
 (97, 52),
 (97, 62),
 (97, 72),
 (97, 82),
 (97, 92)]

In [82]:
set()

set()

# Classes

Classes let you abstract away details while programming.

In [85]:
class Animal:
    def __init__(self, name, species, num_legs):
        self.name = name
        self.species = species
        self.num_legs = num_legs
    
    def say_hi(self, name):
        print(f"Hello {name}! I'm {self.name}!")

In [87]:
x = Animal('Carl', 'cow', 4)
x.say_hi('CME 193')

y = Animal('David', 'pig', 4)
y.say_hi('CME 193')

Hello CME 193! I'm Carl!
Hello CME 193! I'm David!

## Example: Rational Numbers

Here we'l make a class that holds rational numbers (fractions).  That is, numbers of the form
$$r = \frac{p}{q}$$
where $p$ and $q$ are integers

In [89]:
class Rational:
    def __init__(self, p, q=1):
    
        if q == 0:
            raise ValueError('Denominator must not be zero')
        if not isinstance(p, int):
            raise TypeError('Numerator must be an integer')
        if not isinstance(q, int):
            raise TypeError('Denominator must be an integer')
        
        g = math.gcd(p, q)
        
        self.p = p // g # integer division
        self.q = q // g
    
    # method to convert rational to float
    def __float__(self):
        return self.p / self.q
    
    def __str__(self):
        return f'{self.p}/{self.q}'
    
    def __repr__(self):
        return f'Rational({self.p}, {self.q})'

In [90]:
a = Rational(22, 7)

In [92]:
float(a)

3.142857142857143

In [93]:
float(70)

70.0

In [94]:
a = Rational(6, 4)
b = Rational(3, 2)

print(type(a))
print(f"a = {a}")
print(f"b = {b}")
print([a,b])
print(f"float(a) = {float(a)}")

<class '__main__.Rational'>
a = 3/2
b = 3/2
[Rational(3, 2), Rational(3, 2)]
float(a) = 1.5

In [95]:
a + b

TypeError: unsupported operand type(s) for +: 'Rational' and 'Rational'

You can do cool things like overload math operators.  This lets you write code that looks like you would write math.  Recall

$$ \frac{p_1}{q_1} + \frac{p_2}{q_2} = \frac{p_1 q_2 + p_2 q_1}{q_1 q_2}$$

We'll see this next time!