# CME 193 - Lecture 6 - Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

In [ ]:
import pandas as pd
import numpy as np

## Creating and combining dataframes

In [ ]:
# Creating a dataframe
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Carol', 'Dan', 'Eve', 'Frank', 'Grace'],
    'num_cats': [1, 2, 4, 8, 16, 32, None],
    'num_dogs': [7, None, 0, 0, 3, 2, 1],
    'location': ['NY', None, 'FL', 'HI', 'AK', 'AK', 'CA'],
})
df

In [ ]:
df2 = pd.DataFrame({
    'name': ['Alice', 'Alex', 'Bob', 'Carl', 'Carol', 'Dan', 'David'],
    'favorite_animal': ['dog', 'dog', 'cat', 'dog', 'cat', 'turtle', 'dog']
})
df2

In [ ]:
df3 = pd.merge(df, df2, how='outer', on='name')
df3

## Working with columns

In [ ]:
# Selecting a single column
df3['name']

In [ ]:
# Selecting multiple columns
df3[['name', 'num_cats', 'num_dogs']]

In [ ]:
# Making a new column
df3['num_legs'] = 4 * (df['num_cats'] + df['num_dogs'])
df3

In [ ]:
# Calculating summaries
print(df3['num_legs'].sum())
print(df3['num_legs'].median())

In [ ]:
df3['location'].value_counts()

In [ ]:
# Deleting columns by name
df3.drop(['location'], axis=1)

## Selecting rows

In [ ]:
# Selecting first five rows
df3.head(5)

In [ ]:
# Selecting last five rows
df3.tail(5)

In [ ]:
# Selecting by criteria: those who have more cats than dogs
df3[df3['num_cats'] > df3['num_dogs']]

In [ ]:
# Selecting by index requires setting an index
df3 = df3.set_index('name')
df3

In [ ]:
# Now we can access by name by indexing into dataframe.loc
df3.loc['Dan']

In [ ]:
# Can even slice
df3.loc['Dan':'Grace']

In [ ]:
# Deleting rows by index
df3.drop(['Bob', 'Grace'])

In [ ]:
# Important note: Pandas always makes copies
df3  # Bob and Grace are still there!

# To save changes, assign it to the same variable, like:
#df3 = df3.drop(['Bob', 'Grace'])

In [ ]:
# Deletes all rows with missing data
df3.dropna(subset=['num_dogs'])

In [ ]:
# Sorts rows by a column
df3.sort_values('num_legs')

In [ ]:
# Grouping by a column and then performing an aggregation
df3.groupby('favorite_animal').sum()

## Exercise 8
In this exercise, you'll download and play with [CO2 data collected at the Mauna Loa observatory](https://www.esrl.noaa.gov/gmd/ccgg/trends/data.html) over the last 60 years. Use the following code to load the dataset, and complete the cells below.

In [ ]:
df = pd.read_csv('ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt', 
                  delim_whitespace=True, 
                  comment='#',
                  names=["year", "month", "decdate", "co2", "co2interp", "trend", "days"])

pd.set_option('display.max_rows', 10)
df

The dataframe currently contains columns called `year` and `month`. The goal is to introduce a new column called `date` that combines the year and month into one column. To do this, we will use a Pandas built-in function called `pd.to_datetime`, which accepts as its first argument a dataframe with three columns, `month`, `day`, and `year`, and outputs a dataframe with a single column corresponding to the date. 

First, create a column called `day` in the dataframe `df`, and set it equal to `1` for all rows. (This is so that, for example, the row with year 1958 and month 3 will be treated as March 1, 1958.)

In [ ]:
# YOUR CODE HERE (1 lines, but feel free to also print df if you'd like)

Next, select the three columns `month`, `day`, and `year` from `df` and pass the resulting three-column dataframe to `pd.to_datetime`. Create a new column `date` in `df` and set it equal to the output of `pd.to_datetime` to create a new column corresponding to the date.

In [ ]:
# YOUR CODE HERE (1 line)

From this point onward, we only care about the columns `date`, `co2`, and `trend`. Select only these columns and discard everything else.

In [ ]:
# YOUR CODE HERE (1 line)

Set the index to `date` (use `df.set_index`).

In [ ]:
# YOUR CODE HERE (1 line)

Plot the data by using `df.plot()`. What do you notice?

In [ ]:
# YOUR CODE HERE (1 line)

The dataset uses -99.99 in the `co2` column to denote missing data. Set these values to `None` instead.

In [ ]:
# YOUR CODE HERE (1 line)

Actually, we don't want these rows anyway. Delete these rows (`df.dropna()`).

In [ ]:
# YOUR CODE HERE (1 line)

Plot the data again (`df.plot()`). Is the problem solved?

In [ ]:
# YOUR CODE HERE (1 line)

Now plot only the data since 2008 (by selecting only the rows after 2008).

In [ ]:
# YOUR CODE HERE (1 line)